body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  header{
      background-color: #000;
      margin-bottom: 40px;
  }
  header h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
  header h3{
      color:white;
      text-align: center;
      margin: 0;
      padding-top: 10px;
  }
  /* --- Styles for Navigation --- */

  header nav{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  header nav ul {
      display: flex;
      padding-bottom: 0;
      list-style: none;
  }
header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 20px 0 0;
}
header nav ul li:last-child a {
    margin-right: 0;
}
@media all and (min-width: 786px){
    header{
        display:flex;
        justify-content: space-around;
        width: 100%;
    }
    header h1 {
        margin: 14px 0;
        padding-top: 0;
    }
    header nav{
        margin-top: 8px;
    }
    header nav ul li a:hover {
        color: #bdbdbd;
    }
}

/* --- End Nav --- */

section{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
   
}
footer {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 40px;
    margin-bottom: 0;
}
footer p{
    color: white;
    text-align: center;
}


h1 {
    font-size: 28px;
    font-weight: 400;
    margin: 0px 10px;
}

h2{
    font-size: 24px;
    margin: 0 10px;
}

p {
    line-height: 1.5em;
    margin-bottom: 0;
}
section ul{
    list-style: none;
}
img {
   width: 100%;
}
main a {
    font-weight: 700;
    text-decoration: none;
}
main a:link {
    color:black;
}
main a:visited {
    color:cadetblue;
}
main a:hover {
    color: darkgrey;
}
a:active {
    color: darkgrey;
}
a:hover {
    text-decoration: underline;
}
#about {
    background-color: black;
    color: white;
}
#contact ul {
    width: 100%;
}
section {
    padding: 0 25%;
}
/* --- Groups & Items --- */

.group {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.item {
    flex: 1;
    margin: 10px;
}
.item-double {
    flex: 2;
}

  /* --- Groups & Items (Desktop) --- */

  @media all and (min-width: 760px) {
      section {
          padding: 0 10%;
      }
      .group {
          flex-direction: row;
      }
  }

  /* Form Styles */
  form {
      margin: 20px;
      width: 100%;
  }
  form label {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
      color: darkgrey;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
  }
  form input{
      width: 100%;
      margin-bottom: 20px;
  }
  form input[type="text"] {
      color: #000;
      font-size: 16px;
      margin-bottom: 20px;
  }
  form textarea {
      height: 4rem;
      width: 100%;
      color: #000;
      font-size: 16px;
      margin-bottom: 20px;
  }